{{> head}}
{{> navbar}}
<div class="row">
  <div class="col-8">
    <h1>L</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui impedit velit maiores eum excepturi eos debitis
      iusto deleniti. Laudantium assumenda quisquam qui perferendis rerum est aliquam consequuntur ab non labore!</p>
  </div>
  <div class="col-4">
    <img src="assets/img/l.jpg" class='img-thumbnail'>
  </div>
</div>
{{> footer}}